<tr>
    <td><code>.pure-u-</code></td>
    <td>
        <input class='mq-key' type='text' placeholder="med" value='{{key}}'>
    </td>
    <td>
        <input class='mq-val' type='text' placeholder="screen and (min-width: 767px)" value='{{val}}'>
    </td>
    <td>
        <button class="removeMqBtn pure-button">x</button>
    </td>
</tr>
