<div class="legal pure-g">
    <div class="pure-u-1 u-sm-1-2">
        <p class="legal-license">
            This site is built with ❤️ using Pure v{{pure.version}}<br>
            All code on this site is licensed under the <a href="https://github.com/pure-css/pure-site/blob/master/LICENSE.md">Yahoo BSD License</a> unless otherwise stated.
        </p>
    </div>

    <div class="pure-u-1 u-sm-1-2">
        <ul class="legal-links">
            <li><a href="https://github.com/pure-css/pure/">GitHub Project</a></li>
            <li><a href="https://hackerone.com/yahoo/">Security Contact Info</a></li>
        </ul>

        <p class="legal-copyright">
            &copy; {{copyright_year}} Yahoo! Inc. All rights reserved.
        </p>
    </div>
</div>
