<div class="legal yui3-g-r">

    <div class="yui3-u-2-5">
        <div class="l-box">
            <p class="legal-license">
                All code on this site is licensed under the <a href="http://yuilibrary.com/license/">BSD License</a> unless stated otherwise.
            </p>
        </div>
    </div>

    <div class="yui3-u-1-5">
        <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/">
                <img src="/img/logo-footer.png" height="30" width="65">
            </a>
        </div>
    </div>

    <div class="yui3-u-2-5">
        <div class="l-box">
            <ul class="legal-links yui3-g">
                <li class='yui3-u-1-2'><a href="/about/">About This Site</a></li>
                <li class='yui3-u-1-2'><a href="http://yuilibrary.com/security/">Security Contact Info</a></li>
            </ul>
            <p class="legal-copyright">
                &copy; 2006&ndash;{{copyright_year}} Yahoo! Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>
