<div class="legal">
    <p class="legal-copyright">
    &copy; 2006&ndash;{{copyright_year}} Yahoo! Inc. All rights reserved.
    </p>

    <p class="legal-license">
    All code on this site is licensed under the <a href="http://yuilibrary.com/license/">BSD License</a> unless stated otherwise.
    </p>

    <ul class="legal-links">
        <li><a href="/about/">About This Site</a></li>
        <li><a href="http://yuilibrary.com/security/">Security Contact Info</a></li>
    </ul>
</div>
