<div class="legal yui3-g">

    <div class="yui3-u-1-3">
        <div class="box">
            <p class="legal-license">
                All code on this site is licensed under the <a href="http://yuilibrary.com/license/">BSD License</a> unless stated otherwise.
            </p>
        </div>
    </div>

    <div class="yui3-u-1-3">
        <div class="box footer-logo">
            <img src="/img/logo-footer.png" height="30">
        </div>
    </div>

    <div class="yui3-u-1-3">
        <div class="box">
            <ul class="legal-links">
                <li><a href="/about/">About This Site</a></li>
                <li><a href="http://yuilibrary.com/security/">Security Contact Info</a></li>
            </ul>
            <div class="clearfix"/>
            <p class="legal-copyright">
                &copy; 2006&ndash;{{copyright_year}} Yahoo! Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>
