<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="{{pathTo 'home'}}">Pure</a>

        <ul>
          {{#each nav}}
            <li class="{{#if divider}}menu-item-divided{{/if}} {{#if isActive}}pure-menu-selected{{/if}}">
                <a href="{{pathTo name}}">{{label}}</a>
            </li>
          {{/each}}

            <li>
                <a href="http://blog.purecss.io/">Blog</a>
            </li>

            <li>
                <a href="https://github.com/yahoo/pure/releases/">Releases</a>
            </li>

            <li class="menu-item-divided">
                <a href="http://yui.github.io/skinbuilder/?mode=pure">Skin Builder</a>
            </li>
        </ul>
    </div>
</div>
