{{#if nav}}
<div id="headerMenu" class="yui3-menu yui3-menu-open yui3-menu-horizontal yui3-menu-fixed">
    <ul>
      {{#each nav}}
        <li class="{{#if isActive}}yui3-menu-active{{/if}}">
            <a href="{{url}}">{{label}}</a>
        </li>
      {{/each}}
    </ul>
</div>
{{/if}}
