<div class="k-u" id="menu">
    <div class="k-menu k-menu-open">
        <a class="k-menu-heading" href="{{pages.home}}">Kimono</a>

        <a href="#menu" id="menuLink" class="k-menu-link">
            <img src="/img/navicon-png2x.png" width="20"
                 alt="Menu toggle">
        </a>

        <ul>
          {{#each nav}}
            <li class="{{#if isActive}}k-menu-selected{{/if}}">
                <a href="{{url}}">{{label}}</a>
            </li>
          {{/each}}

            <li class="menu-item-yui">
                <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">Skin Builder</a>
            </li>

            <li>
                <a href="http://yuilibrary.com/">YUI Library</a>
            </li>
        </ul>
    </div>
</div>
