<a href="#menu" id="menuLink" class="pure-menu-link">
    <img src="/img/navicon-png2x.png" width="20"
         alt="Menu toggle">
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="{{pages.home}}">Pure</a>

        <ul>
          {{#each nav}}
            <li class="{{#if isActive}}pure-menu-selected{{/if}} {{#if divider}}menu-item-divided{{/if}}">
                <a href="{{url}}">{{label}}</a>
            </li>
          {{/each}}

            <li>
                <a href="https://github.com/yui/pure/releases">Releases</a>
            </li>

            <li class="menu-item-divided">
                <a href="http://yui.github.io/skinbuilder/?mode=pure">Skin Builder</a>
            </li>

            <li>
                <a href="http://yuilibrary.com/">YUI Library</a>
            </li>
        </ul>
    </div>
</div>
