<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="{{pages.home}}">Pure</a>

        <a href="#menu" id="menuLink" class="pure-menu-link">
            <img src="/img/navicon-png2x.png" width="20"
                 alt="Menu toggle">
        </a>

        <ul>
          {{#each nav}}
            <li class="{{#if isActive}}pure-menu-selected{{/if}}">
                <a href="{{url}}">{{label}}</a>
            </li>
          {{/each}}

            <li class="menu-item-yui">
                <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">Skin Builder</a>
            </li>

            <li>
                <a href="http://yuilibrary.com/">YUI Library</a>
            </li>
        </ul>
    </div>
</div>
