<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Site Title</a>

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Flickr</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Messenger</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
        <li class="pure-menu-item pure-menu-disabled"><a href="#" class="pure-menu-link">Disabled Item</a></li>
    </ul>
</div>
