<div class="k-menu k-menu-open k-menu-horizontal">
    <a href="#" class="k-menu-heading">Site Title</a>

    <ul>
        <li class="k-menu-selected"><a href="#">Home</a></li>
        <li><a href="#">Flickr</a></li>
        <li class="k-menu-disabled"><a href="#">Disabled Item</a></li>
    </ul>
</div>
