<div class="yui3-menu yui3-menu-open yui3-menu-horizontal">
    <ul>
        <li><a href="#">Home</a></li>
        <li class="yui3-menu-selected"><a href="#">Flickr</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Finance</a></li>
    </ul>
</div>
