<ul class="yui3-paginator">
    <li><a class="yui3-button prev" href="#">&#171;</a></li>
    <li><a class="yui3-button" href="#">1</a></li>
    <li><a class="yui3-button yui3-button-active" href="#">2</a></li>
    <li><a class="yui3-button" href="#">3</a></li>
    <li><a class="yui3-button" href="#">4</a></li>
    <li><a class="yui3-button" href="#">5</a></li>
    <li><a class="yui3-button next">&#187;</a></li>
</ul>
