<ul class="k-paginator">
    <li><a class="k-button prev" href="#">&#171;</a></li>
    <li><a class="k-button" href="#">1</a></li>
    <li><a class="k-button k-button-active" href="#">2</a></li>
    <li><a class="k-button" href="#">3</a></li>
    <li><a class="k-button" href="#">4</a></li>
    <li><a class="k-button" href="#">5</a></li>
    <li><a class="k-button next">&#187;</a></li>
</ul>
