<!doctype html>
<html lang="en">
<head>
    {{> layouts/meta}}

    {{> layouts/title}}

    {{> layouts/styles}}

  {{#if typekit}}
    {{> layouts/typekit}}
  {{/if}}
</head>
<body>

{{{body}}}

</body>
</html>
