<!doctype html>
<html lang="en">
<head>
    {{> layouts/meta}}
    {{> layouts/title}}

    {{addLocalCSS "/css/main.css"}}
    {{addGithubCSS "ccampbell" "rainbow" "master/themes/github.css"}}
    {{> layouts/styles}}

  {{#if typekit}}
    {{> layouts/typekit}}
  {{/if}}
</head>
<body>

    <div class="yui3-g-r " id="layout">
        {{> menu}}

        <div class="yui3-u" id="main">

            {{{body}}}

            {{> legal}}
        </div>
    </div>

    <script src="/js/ui.js"></script>
    <script src="/vendor/rainbow-min.js"></script>

</body>
</html>
