body {
    font-family: sans-serif;
    color: #777;
}

/* TODO: HACK */
pre code {
    white-space: pre !important;
}

.header {
     min-height: 80px;
     margin: 0;
     color: #333;
     padding: 50px 20px 30px;
     text-align: center;
     border-bottom: 1px solid #eee;
     background: #fff;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
    }
     .header h2 {
         font-weight: 300;
         margin: 0;
         color: #ccc;
     }

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

/* The content div is placed as a wrapper around all the docs */
.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom:50px;
}
    .content p {
        line-height: 1.6em;
        font-size: 115%;
    }

    .content h1 {
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .content h2 {
        margin: 50px 0 20px 0;
    }

    .content ul {
        line-height: 1.8em;
    }

    /* A code snippet that has been syntax highlighted */
    .content .snippet {
        margin: 1.3em 0 1em;
    }
    /* The rainbow styles will overwrite the border and background styles */
    pre code {
        background: none;
        border: none;
    }

/* Apply the .box class on the immediate parent of any grid element (yui3-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
}
.l-centered {
    text-align: center;
}

/* Footer */
.legal {
    font-size: 80%;
    border-top: 1px solid #eee;
    padding: 0.5em 0;
}

    .legal-license, .legal-copyright {
        margin: 0;
    }

    .legal-copyright, .legal-links {
        text-align: right;
    }

    .legal-links {
        list-style: none;
        margin: 0;
    }

    .legal-logo {
        text-align: center;
    }

/* Main Navigation Header */
#headerMenu ul {
    background: #111;
    color: #fff;
}

    #headerMenu a:hover {
        background: #222;
        border-color: #222;
    }
    #headerMenu a {
        color: #fff;
        text-shadow: none;
    }

    #headerMenu .yui3-menu-active {
        background: #222;
    }


/* example code blocks */
.example-snippet {
    margin: 2em 0;
    font-size: 85%;
}

/* green call to action button class */
.notice {
    background-color: #61B842;
    color: white;
}

/* Responsive */
@media (max-width: 767px) {
    #headerMenu {
        position: relative;
    }
    #headerMenu ul {
        text-align: center;
    }
    #headerMenu a {
        font-size:80%;
    }

    .content {
        width: 95%;
    }
    .legal-links {
        padding:1em 0;
    }
    .legal-license, .legal-copyright, .legal-links, .legal-links li {
        text-align: center;
    }
}
