.pure-form label {
    font-size: 100%;
}

.grid-input,
.grid-output {
    margin-bottom: 1em;
}

.grid-tabs,
.grid-output-tabs {
    padding: 3em 0 0;
    margin: 0;
}

.grid-tab-link,
.grid-tab-link:visited {
    font-weight: bold;
    padding: 1em 1em;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    color: #666;
    transition: all 0.3s;
    cursor: pointer;
    top: -0.8em;
    position: relative;
}

.grid-tab-link-selected,
.grid-tab-link-selected:visited {
    border: 1px solid #ccc;
    background: #fff;
    border-bottom-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid-content {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 0;
    overflow-y: hidden;
}

.grid-panel {
    /*
    By default, we hide these off screen. Not using display:none; to preserve
    accessibility.
    */
    position: absolute;
    top: -9999px;
    left: -9999px;

}
.grid-panel-selected {
    /* when a tab is selected, we remove the position: absolute;*/
    position: static;
}

.offset-1-12 {
    margin-left: 8.33%;
}

#media-query-table {
    margin-bottom: 1em;
    width: 100%;
}

#media-query-table td {
    padding: 0.3em;
}
.mq-val,
.mq-key {
    width: 100%;
}

.controls {
    text-align: center;
}

.controls button {
    margin: 0.2em 0;
}

.remove-mq {
    background: white;
    border: 1px solid rgb(229, 53, 53);
    font-weight: 500;
    color: rgb(229, 53, 53);
    padding: 1px 6px;
    box-shadow: none;
    font-size: 80%;
    margin-top: 0.5em;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.remove-mq:hover,
.remove-mq:active {
    color: white;
    background: rgb(249, 114, 114);
    box-shadow: none;
}

.grids-example {
    border-bottom: 1px solid #eee;
    background: rgb(250, 250, 250);
    margin: 2em auto;
}

.grids-example [class *= "pure-u"] {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    text-align: center;
    padding: 1em 0;
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
}


.table-responsive .mq-table {
    width: 100%;
    min-width: 44em;
}
.mq-table th.highlight {
    background-color: rgb(255, 234, 133);
}
.mq-table td.highlight {
    background-color: rgb(255, 250, 229);
}
.mq-table th.highlight code,
.mq-table td.highlight code {
    background: rgb(255, 255, 243);
}
.mq-table-mq code {
    font-size: 0.875em;
}

.invalid-message {
    color: #b94a48;
    font-size: 90%;
}

.pure-form input[invalid] {
    border: 1px solid rgb(229, 53, 53);
}

.input-lg {
    font-size: 1.2em;
    text-align: center;
}

@media screen and (min-width: 48em) {
    .controls {
        text-align: left;
    }

    .grid-tab-link {
        font-size: 1em;
    }

    .invalid-message {
        padding-top: 0.625em;
    }
}
