.pure-form label {
    font-size: 100%;
}

.cdn-link {
    text-align: center;
}
.cdn-link .code {
    margin-left: auto;
    margin-right: auto;
}

.grid-tabs,
.grid-output-tabs {
    padding: 1em 0 0;
}

.grid-tab-link,
.grid-tab-link:visited {
    font-weight: bold;
    color: #666;
    padding: 4px 10px;
    margin: 0.3em;
    transition: all 0.3s;
    cursor: pointer;
}

.grid-tab-link-selected,
.grid-tab-link-selected:visited {
    color: rgb(0, 120, 231);
    border-bottom: 2px solid rgb(0, 120, 231);
}

.grid-content {
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow-y: hidden;
}

.grid-panel {
    /*
    By default, we hide these off screen. Not using display:none; to preserve
    accessibility.
    */
    position: absolute;
    top: -9999px;
    left: -9999px;

}
.grid-panel-selected {
    /* when a tab is selected, we remove the position: absolute;*/
    position: static;
}

.offset-1-12 {
    margin-left: 8.33%;
}

#media-query-table {
    margin-bottom: 1em;
    width: 100%;
}

#media-query-table td {
    padding: 0.3em;
}
.mq-val,
.mq-key {
    width: 100%;
}

.controls {
    text-align: center;
}

.controls button {
    margin: 0.2em 0;
}

.remove-mq {
    background: white;
    border: 1px solid rgb(229, 53, 53);
    font-weight: 500;
    color: rgb(229, 53, 53);
    padding: 1px 6px;
    box-shadow: none;
    font-size: 80%;
    margin-left: 0.5em;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.remove-mq:hover,
.remove-mq:active {
    color: white;
    background: rgb(249, 114, 114);
    box-shadow: none;
}


.demo-header {
    background: rgb(250, 243, 176);
    padding: 1em 0;
    text-align: center;
}

.demo-box {
    background: rgb(250, 250, 250);
    border: 1px solid #eee;
    margin: 0.5em;
    padding: 0.5em;
}

.mq-observer {
    /* same as grids.css examples */
    background: #333;
    color: #ddd;
    border-color: #333;
    border-radius: 3px;
}

.mq-width {
    text-align: center;
    padding: 0.5em;
    font-size: 80%;
}

.mq-marker {
    color: #888;
    text-align: center;
    padding: 0.3em;
    font-size: 0.8em;
}

.mq-marker-on {
    background: rgb(0, 120, 231);
    color: white;
}

.mq-marker:first-child {
    border-bottom-left-radius: 3px;
}

.mq-marker:first-child {
    border-bottom-right-radius: 3px;
}

@media screen and (min-width: 48em) {
    .controls {
        text-align: left;
    }

    .grid-tab-link {
        font-size: 1em;
    }
}
