{{addLocalCSS "/css/layouts/marketing.css"}}

<div class="wrapper yui3-g-r">
    <div class="header yui3-u-1">
        <div class="yui3-menu yui3-menu-open yui3-menu-fixed yui3-menu-horizontal">
            <a class="yui3-menu-heading" href="">Your Site</a>
            <ul>
                <li class="yui3-menu-active"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div class="splash yui3-u-1">
        <div class="yui3-g-r">
            <div class="yui3-u-1-3">
                <div class="l-box splash-image">
                    <img src="http://placehold.it/500x350">
                </div>
            </div>
            <div class="yui3-u-2-3">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Some big bold text.
                    </h1>
                    <h2 class="splash-subhead">
                        The HTML and CSS for this layout shows how you can make a modern, responsive landing page for your next product. Browse through the source to see how we use menus and responsive grids to create this layout. Shrink your browser width and watch the layout transform and play nice with small screens. 
                    </h2>
                    <p>
                        <a href="#" class="yui3-button primary-button">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content yui3-u-1">
        <div class="yui3-g-r content-ribbon">
            <div class="yui3-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Some small text</h4>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.</p>
                </div>
            </div>
            <div class="yui3-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250">
                </div>
            </div>
        </div>

        <div class="yui3-g-r content-ribbon">
            <div class="yui3-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250">
                </div>
            </div>
            <div class="yui3-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Some more small text</h4>
                    <h3>Etiam iaculis iaculis lobortis.</h3>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.</p>
                </div>
            </div>
        </div>




        <div class="yui3-g-r">       
            <div class="yui3-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>
            <div class="yui3-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>
            <div class="yui3-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>
            <div class="yui3-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>
        </div>

        <div class="yui3-g-r">
            <div class="yui3-u-1">
                <div class="l-box ribbon">
                    <h2>Get started now.</h2>
                    <a href="#" class="yui3-button primary-button">Sign up</a>
                </div>
            </div>
        </div>

    </div>




    <div class="footer yui3-u-1">
        View the source of this layout to learn more. Made with love by the YUI Team. 
    </div>
