{{addLocalCSS "/css/layouts/pricing.css"}}


<div id="wrapper" class="pure-g-r">

	<div id="header" class="pure-u-1">

		<div class="pure-menu pure-menu-open pure-menu-horizontal">
		    <a href="#" class="pure-menu-heading">Your Logo</a>

		    <ul>
		        <li><a href="#">Home</a></li>
		        <li class="pure-menu-selected"><a href="#">Pricing</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">Company</a></li>
		        <li><a href="#">Contact</a></li>
		    </ul>
		</div>

	</div>	

	<div id="content" class="pure-u-1">

		<div class="banner">
			<h2>No Hidden Costs. No Cancelation Fees. No Downtime.</h2>
			<p>All plans include 24-hour customer service.</p>
		</div>

		<div class="pricing-table">
			<div class="left">
				<ul>
					<li class="header">Free</li>
					<li>$25 / mo.</li>
					<li class="even">Security</li>
					<li>160GB</li>
					<li class="even">5 Databases</li>
					<li><button class="pure-button pure-button-choose">Choose</button></li>
				</ul>
			</div>

			<div class="mid">
				<ul>
					<li class="header">Premium</li>
					<li>$45 / mo.</li>
					<li class="even">WiFi</li>
					<li>Security</li>
					<li class="even">380GB</li>
					<li>10 Databases</li>
					<li class="even">100 GB Bandwidth</li>
					<li><button class="pure-button pure-button-choose">Choose</button></li>
				</ul>
			</div>

			<div class="right">
				<ul>
					<li class="header">Enterprise</li>
					<li>$85 / mo.</li>
					<li class="even">WiFi</li>
					<li>Security</li>
					<li class="even">25 Databases</li>
					<li><button class="pure-button pure-button-choose">Choose</button></li>
				</ul>
			</div>
		</div>

		<div class="column-content pure-g-r">

			<div class="pure-u-1-3">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>

			<div class="pure-u-1-3">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>

			<div class="pure-u-1-3">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>

		</div>

	</div>
</div>