{{#if css}}

<pre class="code code-wrap" data-language="css">
{{css}}
</pre>

{{else}}

<p>
    You haven't specified any media queries, so you don't need an additional <code>grid.css</code> file.
</p>

{{/if}}
