<div class="demo-header">
    Header
</div>
<div class="pure-g">
    <div class="demo-content pure-u-1 {{setGridClasses mediaQueries}}">
        <div class="demo-box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </div>
    <div class="demo-content pure-u-1 {{setGridClasses mediaQueries}}">
        <div class="demo-box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </div>
    <div class="demo-content pure-u-1 {{setGridClasses mediaQueries}}">
        <div class="demo-box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </div>
    <div class="demo-content pure-u-1 {{setGridClasses mediaQueries}}">
        <div class="demo-box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </div>
</div>
