<div class="content grid-output">
    <ul class="grid-tabs pure-g">
        <li class="grid-tab pure-u">
            <a class="grid-tab-link grid-tab-link-selected" href="#demo">Demo</a>
        </li>
        <li class="grid-tab pure-u">
            <a class="grid-tab-link" href="#html">index.html</a>
        </li>
        <li class="grid-tab pure-u">
            <a class="grid-tab-link" href="#grid">grid.css</a>
        </li>
    </ul>
</div>

{{> start/mq-observer}}

    <div class="grid-content">
        <div id="demo" class="grid-panel grid-panel-selected">
            <style class="grid-css" scoped>
            {{css}}
            </style>
            {{> start/demo}}
        </div>
        <div id="grid" class="content grid-panel grid-panel-selected">
          {{#if fonts}}
            <div class="font-code">
            {{#code}}
                {{> start/font-css}}
            {{/code}}
            </div>
          {{/if}}
          {{#if css}}
            <div class="grid-code">
            {{#code}}
                {{css}}
            {{/code}}
            </div>
          {{/if}}
        </div>
        <div id="html" class="content grid-panel grid-panel-selected">
            {{#code}}
                {{> start/html}}
            {{/code}}
        </div>
    </div>
</div>
