<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your page title</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css">
  {{#if css}}
    <link rel="stylesheet" href="/path/to/grid.css">
  {{/if}}
</head>

<body>
{{> start/demo}}
</body>
</html>
