<div class="mq-observer">
    <div class="mq-width">
        Resize your browser window to see which media queries are active.
    </div>

    <div class="mq-markers pure-g">
        <div class="mq-marker mq-marker-on pure-u">
            .pure-u-*
        </div>

      {{#each mediaQueries}}
        <div class="mq-marker pure-u">
            .pure-u-{{this.id}}-*
        </div>
      {{/each}}
    </div>
</div>
