<tr>
    <td><code>.pure-u-</code></td>
    <td>
        <input class="mq-key pure-u-1" type="text" placeholder="med" value="{{this.id}}">
    </td>
    <td>
        <input class="mq-value pure-u-1" type="text" placeholder="screen and (min-width: 48em)" value="{{this.value}}">
    </td>
    <td>
        <button data="remove-mq" class="remove-mq pure-button">&times;</button>
    </td>
</tr>
