<tr data-row="media-query">
    <td>
        <input data-content="mq-key" class="mq-key pure-u-1"
               required type="text" placeholder="med" value="{{this.id}}">
    </td>
    <td>
        <input data-content="mq-value" class="mq-value pure-u-1"
               required type="text" placeholder="screen and (min-width: 48em)" value="{{this.mq}}">
    </td>
    <td>
        <button data-action="remove-mq" class="remove-mq pure-button">&times;</button>
    </td>
</tr>
