<tr data-row='media-query'>
    <td>
        <input class="mq-key pure-u-1" data-content="mq-key" type="text" placeholder="med" value="{{this.id}}">
    </td>
    <td>
        <input class="mq-value pure-u-1" data-content="mq-value" type="text" placeholder="screen and (min-width: 48em)" value="{{this.mq}}">
    </td>
    <td>
        <button data-action="remove-mq" class="remove-mq pure-button">&times;</button>
    </td>
</tr>
