<tr data-row="media-query" class="pure-g">
    <td class="pure-u-4-24 pure-u-med-3-24">
        <input data-content="mq-key" class="mq-key"
               required type="text" placeholder="med" value="{{this.id}}">
    </td>

    <td class="pure-u-17-24 pure-u-sm-18-24 pure-u-med-19-24">
        <input data-content="mq-value" class="mq-value"
               required type="text" placeholder="screen and (min-width: 48em)" value="{{this.mq}}">
    </td>

    <td class="remove-row pure-u-3-24 pure-u-sm-2-24">
        <button type="button" data-action="remove-mq" class="remove-mq pure-button">&times;</button>
    </td>
</tr>
