<div class="pure-g-r">
    <div class="pure-u-1-3">
        <h4>Unordered List</h4>

        <ul>
            <li>list item 1</li>
            <li>list item 1
                <ul>
                    <li>list item 2</li>
                    <li>list item 2
                        <ul>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ul>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ul>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ul>
    </div>

    <div class="pure-u-1-3">
        <h3>Ordered List</h3>

        <ol>
            <li>list item 1</li>
            <li>list item 1
                <ol>
                    <li>list item 2</li>
                    <li>list item 2
                        <ol>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ol>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ol>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ol>
    </div>

    <div class="pure-u-1-3">
        <h3>Definition Lists</h3>

        <dl>
            <dt>Definition term</dt>
            <dd>Definition description</dd>

            <dt>Definition term</dt>
            <dd>Definition description</dd>
            <dd>Definition description</dd>

            <dt>Definition term</dt>
            <dt>Definition term</dt>
            <dd>Definition description</dd>
        </dl>
    </div>
</div>
