{{setTitle status}}

{{> header}}

<div class="content">
    <div class="error">
        <p class="error-msg">
          {{#if message}}
            {{message}}
          {{else}}
            Looks like there was a problem :(
          {{/if}}
        </p>
    </div>
</div>
