{{setTitle     "Updates"}}
{{setSubTitle  "Pure project updates"}}
{{setActiveNav "updates"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Some Title</h2>
    <p>
        [Stuff]
    </p>
</div>
