<div class="k-input-prepend">
    <button type="submit" class="k-button k-input-small">Search</button>
    <input class="k-input-medium" type="text" placeholder="Length of road">
</div>

<div class="k-input-append">
    <input class="k-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="k-button k-input-small notice">Sign in</button>
</div>

<div class="k-input-append">
    <input class="k-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="k-button k-input-small">Search</button>
    <button type="submit" class="k-button k-input-small">Reset</button>
</div>
