<div class="pure-input-prepend">
    <span class="pure-addon">@</span>
    <input class="pure-input-medium" type="text" placeholder="Username">
</div>

<div class="pure-input-append">
    <input class="pure-input-medium" type="text" placeholder="Length of road">
    <span class="pure-addon">miles to go</span>
</div>

<div class="pure-input-prepend pure-input-append">
    <span class="pure-addon">There are</span>
    <input class="pure-input-medium" type="text" placeholder="Length of road">
    <span class="pure-addon">miles to go</span>
</div>
