<div class="yui3-input-prepend">
    <button type="submit" class="yui3-button yui3-input-small">Search</button>
    <input class="yui3-input-medium" type="text" placeholder="Length of road">
</div>
 
<div class="yui3-input-append">
    <input class="yui3-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="yui3-button yui3-input-small notice">Sign in</button>
</div>
 
<div class="yui3-input-append">
    <input class="yui3-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="yui3-button yui3-input-small">Search</button>
    <button type="submit" class="yui3-button yui3-input-small">Reset</button>
</div>
