<div class="k-input-prepend">
    <span class="k-addon">@</span>
    <input class="k-input-medium" type="text" placeholder="Username">
</div>

<div class="k-input-append">
    <input class="k-input-medium" type="text" placeholder="Length of road">
    <span class="k-addon">miles to go</span>
</div>

<div class="k-input-prepend k-input-append">
    <span class="k-addon">There are</span>
    <input class="k-input-medium" type="text" placeholder="Length of road">
    <span class="k-addon">miles to go</span>
</div>
