<div class="pure-input-prepend">
    <button type="submit" class="pure-button pure-input-small">Search</button>
    <input class="pure-input-medium" type="text" placeholder="Length of road">
</div>

<div class="pure-input-append">
    <input class="pure-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="pure-button pure-input-small notice">Sign in</button>
</div>

<div class="pure-input-append">
    <input class="pure-input-medium" type="text" placeholder="Length of road">
    <button type="submit" class="pure-button pure-input-small">Search</button>
    <button type="submit" class="pure-button pure-input-small">Reset</button>
</div>
