<div class="yui3-input-prepend">
    <span class="yui3-addon">@</span>
    <input class="yui3-input-medium" type="text" placeholder="Username">
</div>

<div class="yui3-input-append">
    <input class="yui3-input-medium" type="text" placeholder="Length of road">
    <span class="yui3-addon">miles to go</span>
</div>

<div class="yui3-input-prepend yui3-input-append">
    <span class="yui3-addon">There are</span>
    <input class="yui3-input-medium" type="text" placeholder="Length of road">
    <span class="yui3-addon">miles to go</span>
</div>
