<form class="yui3-form">
    <label class="yui3-checkbox">
        <input type="checkbox" value="">
        Here's option one.
    </label>

    <label class="yui3-radio">
        <input type="radio" name="optionsRadios" value="option1" checked>
        Here's a radio button. You can choose this one..
    </label>

    <label class="yui3-radio">
        <input type="radio" name="optionsRadios" value="option2">
        ..Or this one!
    </label>
</form>
