<form>
    <fieldset>
        <legend>Legend</legend>

        <label>First Name</label>
        <input type="text">

        <select class="yui3-input-medium">
            <option>AL</option>
            <option>CA</option>
        </select>

        <label class="yui3-checkbox">
            <input type="checkbox"> I"ve read the terms and conditions
        </label>

        <button type="submit" class="yui3-button">Submit</button>
    </fieldset>
</form>
