<form class="pure-form">
    <fieldset>
        <legend>A compact inline form</legend>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="{{id 'remember'}}">
            <input id="{{id 'remember'}}" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button notice">Sign in</button>
    </fieldset>
</form>
