<form>
    <fieldset class='yui3-group'>
        <input type="text" class='yui3-input-large' placeholder='Username'>
        <input type="text" class='yui3-input-large' placeholder='Password'>
        <input type="text" class='yui3-input-large' placeholder='Email'>
    </fieldset>
    <fieldset class='yui3-group'>
        <input type="text" class='yui3-input-large' placeholder='Another Group'>
        <input type="text" class='yui3-input-large' placeholder='More Stuff'>
    </fieldset>
    <button type="submit" class="yui3-button yui3-input-large notice">Sign in</button>
</form>
