<form class="yui3-form">
    <fieldset class="yui3-group">
        <input type="text" class="yui3-input-1-2" placeholder="Username">
        <input type="text" class="yui3-input-1-2" placeholder="Password">
        <input type="text" class="yui3-input-1-2" placeholder="Email">
    </fieldset>

    <fieldset class="yui3-group">
        <input type="text" class="yui3-input-1-2" placeholder="Another Group">
        <input type="text" class="yui3-input-1-2" placeholder="More Stuff">
    </fieldset>

    <button type="submit" class="yui3-button yui3-input-1-2 notice">Sign in</button>
</form>
