<form class="yui3-form-horizontal">
    <fieldset>
        <div class="yui3-control-group">
            <label>Username</label>
            <input type="text" placeholder="Username">
        </div>

        <div class="yui3-control-group">
            <label>Password</label>
            <input type="password" placeholder="Password">
        </div>

        <div class="yui3-control-group">
            <label>Email Address</label>
            <input type="text" placeholder="Email Address">
        </div>

        <div class="yui3-control-group">
            <label>Supercalifragilistic Label</label>
            <input type="text" placeholder="Enter something here...">
        </div>

        <div class="yui3-controls">
            <label class="yui3-checkbox">
                <input type="checkbox"> Check me out
            </label>

            <button type="submit" class="yui3-button">Submit</button>
        </div>
    </fieldset>
</form>
