<form class="k-form">
    <input class="k-input-1" type="text" placeholder=".k-input-1"><br>
    <input class="k-input-2-3" type="text" placeholder=".k-input-2-3"><br>
    <input class="k-input-1-2" type="text" placeholder=".k-input-1-2"><br>
    <input class="k-input-1-3" type="text" placeholder=".k-input-1-3"><br>
    <input class="k-input-1-4" type="text" placeholder=".k-input-1-4"><br>
 </form>
