<p><input class="yui3-input-mini" type="text" placeholder=".yui3-input-mini"></p>
<p><input class="yui3-input-small" type="text" placeholder=".yui3-input-small"></p>
<p><input class="yui3-input-medium" type="text" placeholder=".yui3-input-medium"></p>
<p><input class="yui3-input-large" type="text" placeholder=".yui3-input-large"></p>
<p><input class="yui3-input-xlarge" type="text" placeholder=".yui3-input-xlarge"></p>
<p><input class="yui3-input-xxlarge" type="text" placeholder=".yui3-input-xxlarge"></p>
