<form class="yui3-form yui3-g">
      <div class="yui3-u-1-4">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-4">
      </div>
      <div class="yui3-u-3-4">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-3-4">
      </div>

      <div class="yui3-u-1-2">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-2">
      </div>
      <div class="yui3-u-1-2">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-2">
      </div>

      <div class="yui3-u-1-8">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-8">
      </div>
      <div class="yui3-u-1-8">
            <input class="v" type="text" placeholder=".yui3-u-1-8">
      </div>
      <div class="yui3-u-1-4">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-4">
      </div>
      <div class="yui3-u-1-2">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-2">
      </div>

      <div class="yui3-u-1-5">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1-5">
      </div>
      <div class="yui3-u-2-5">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-2-5">
      </div>
      <div class="yui3-u-2-5">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-2-5">
      </div>

      <div class="yui3-u-1">
            <input class="yui3-input-1" type="text" placeholder=".yui3-u-1">
      </div>
</form>
