<form class="k-form k-g">
    <div class="k-u-1-4">
        <input class="k-input-1" type="text" placeholder=".k-u-1-4">
    </div>
    <div class="k-u-3-4">
        <input class="k-input-1" type="text" placeholder=".k-u-3-4">
    </div>

    <div class="k-u-1-2">
        <input class="k-input-1" type="text" placeholder=".k-u-1-2">
    </div>
    <div class="k-u-1-2">
        <input class="k-input-1" type="text" placeholder=".k-u-1-2">
    </div>

    <div class="k-u-1-8">
        <input class="k-input-1" type="text" placeholder=".k-u-1-8">
    </div>
    <div class="k-u-1-8">
        <input class="k-input-1" type="text" placeholder=".k-u-1-8">
    </div>
    <div class="k-u-1-4">
        <input class="k-input-1" type="text" placeholder=".k-u-1-4">
    </div>
    <div class="k-u-1-2">
        <input class="k-input-1" type="text" placeholder=".k-u-1-2">
    </div>

    <div class="k-u-1-5">
        <input class="k-input-1" type="text" placeholder=".k-u-1-5">
    </div>
    <div class="k-u-2-5">
        <input class="k-input-1" type="text" placeholder=".k-u-2-5">
    </div>
    <div class="k-u-2-5">
        <input class="k-input-1" type="text" placeholder=".k-u-2-5">
    </div>

    <div class="k-u-1">
        <input class="k-input-1" type="text" placeholder=".k-u-1">
    </div>
</form>
