<form class="yui3-form yui3-form-stacked">
  <legend>A Stacked Form</legend>

  <label for="email">Email</label>
  <input id="email" type="text" placeholder="Email">

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Password">

  <label for="state">State</label>
  <select id="state">
      <option>AL</option>
      <option>CA</option>
      <option>IL</option>
  </select>
  <label class="yui3-checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="yui3-button notice">Sign in</button>
</form>
