<div class="yui3-menu yui3-menu-open yui3-menu-horizontal">
    <a href="#" class="yui3-menu-heading">Site Title</a>
    
    <ul>
        <li class="yui3-menu-active"><a href="#">Home</a></li>
        <li><a href="#">Flickr</a></li>
        <li class="yui3-menu-disabled"><a href="#">Disabled Item</a></li>
    </ul>
</div>
