<div class="yui3-menu yui3-menu-open yui3-menu-horizontal">
    <ul class="yui3-menu-light">
        <li class="yui3-menu-active"><a href="#">Flickr</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Finance</a></li>
        <li><a href="#">YUILibrary</a></li>
    </ul>
</div>

<div class="yui3-menu yui3-menu-open">
    <ul class="yui3-menu-light">
        <li class="yui3-menu-heading">Yahoo! Sites</li>
        <li class="yui3-menu-separator"></li>
        <li class="yui3-menu-active"><a href="#">Flickr</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Finance</a></li>
        <li class="yui3-menu-separator"></li>
        <li class="yui3-menu-heading">YUI</li>
        <li class="yui3-menu-separator"></li>
        <li><a href="#">YUILibrary</a></li>
        <li><a href="#">YUI on Youtube</a></li>
        <li><a href="#">Gallery</a></li>
    </ul>
</div>
