<div class="yui3-menu yui3-menu-open">
    <ul>
        <li class="yui3-menu-heading">Yahoo! Sites</li>
        <li class="yui3-menu-separator"></li>
        <li class="yui3-menu-active"><a href="#">Home</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Finance</a></li>
    </ul>
</div>
