<p>
    If you are using Pure from Yahoo's CDN, you can take advantage of our combo handler, and load the responsive grid along with Pure in a single request.
</p>

</div> <!-- end .content -->

<div class="is-code-full">
{{#code wrap=true}}
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/{{pure.version}}/pure-min.css&pure/{{pure.version}}/grids-responsive-min.css">
{{/code}}
</div>
<div class="content"> <!-- start next .content -->
