<p>
    When using images inside grid units, you may want them to grow and shrink with the grid. To accomplish this, add the {{code "img-responsive"}} class to the {{code "<img>"}} element.
</p>
<div class="pure-g">
    <div class="pure-u-1-2 pure-u-med-1-4">
        <img class="img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
    </div>
    <div class="pure-u-1-2 pure-u-med-1-4">
        <img class="img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
    </div>
    <div class="pure-u-1-2 pure-u-med-1-4">
        <img class="img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
    </div>
    <div class="pure-u-1-2 pure-u-med-1-4">
        <img class="img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
    </div>
</div>
