<div class="pure-g-r grid-example">
    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>Fast</h3>
            <p>
                YUI's lightweight core and modular architecture make it scalable, fast, and robust. Built by frontend engineers at Yahoo!, YUI powers the most popular websites in the world.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>Complete</h3>
            <p>
                YUI's intuitive and well-documented API takes you from basic DOM handling to building performant and maintainable applications on desktop browsers, mobile devices, and servers.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>Industrial Strength</h3>
            <p>
                A thriving community, a carefully architected infrastructure, and a comprehensive suite of tools help you code like a pro, from simple web pages to complex web applications.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>Free and Open</h3>
            <p>
                YUI is free for all uses and is developed in the open on GitHub. Core team members can always be found in the forums and the #yui IRC channel on Freenode. Pull requests welcome!
            </p>
        </div>
    </div>

    <div class="pure-u-1 l-centered">
        <img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg"
             alt="Sample image of a meeting for a responsive image example.">
    </div>

    <div class="pure-u-2-5">
        <div class="l-box">
            <h3>Two-Fifth Column</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum dui turpis.
            </p>
        </div>
    </div>

    <div class="pure-u-3-5">
        <div class="l-box">
            <h3>Three-Fifth Column</h3>
            <p>
                Quisque ac magna eget est porta varius ut eget quam. Curabitur tincidunt gravida nisl.
            </p>

            <p>
                Fusce accumsan, sem vitae tempus tempor, nulla lectus interdum felis, eget molestie urna mauris vel elit. Curabitur vel ipsum nulla.
            </p>
        </div>
    </div>
</div>
