<div class="grids-unit {{#unless isReduced}}grids-unit-not-reduced{{/unless}} pure-g">
    <div class="grids-unit-width pure-u">{{width}}</div>
    <div class="grids-unit-details pure-u-1">
        <div class="pure-g">
            <div class="grids-unit-bar {{selector}}"></div>
        </div>
    </div>
</div>
