<div class="pure-g">
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
    </div>

    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://distilleryimage6.ak.instagram.com/87f1fe8e5afa11e3ab161243c66c91b3_8.jpg" alt="Miami Heat">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://distilleryimage11.ak.instagram.com/6cb6b5640ddf11e39ff222000aa8009c_7.jpg" alt="BCE Place, Toronto">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://distilleryimage5.ak.instagram.com/a30bc212d61711e29ade22000a1f9bd0_7.jpg" alt="Banff">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://distilleryimage0.ak.instagram.com/ed146454723f11e29f5522000a9f14ae_7.jpg" alt="Let it snow">
    </div>
</div>
