<div class="pure-g">
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
    </div>

    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm8.staticflickr.com/7478/16185861115_4ed6353a97.jpg" alt="Miami">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/4068/4666556755_091acf3253.jpg" alt="BCE Place, Toronto">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm6.staticflickr.com/7313/13136053333_f04b335933.jpg" alt="Banff">
    </div>
    <div class="pure-u-1-4 pure-u-lg-1-8">
        <img class="pure-img" src="http://farm3.staticflickr.com/7628/16754137141_27dcaabd24.jpg" alt="Boston North Point Park">
    </div>
</div>
