<div class="k-g">
    <div class="k-u-1-3">
        <!--
        By default, grid units don"t have any margin/padding.
        If you want to add these, put them in a child container.
        -->
        <p>Thirds</p>
    </div>

    <div class="k-u-1-3">
        <p>Thirds</p>
    </div>

    <div class="k-u-1-3">
        <p>Thirds</p>
    </div>
</div>
