<div class="pure-g">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Thirds</h3>
            <p>This cell will be 1/3 width all the time.</p>
         </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Thirds</h3>
            <p>This cell will be 1/3 width all the time.</p>
         </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>Thirds</h3>
            <p>This cell will be 1/3 width all the time.</p>
         </div>
    </div>
</div>
