<style>
    .pure-g > div {
        box-sizing: border-box; 
    }
    .sidebar {
        padding: 0.5em; 
        border-right: 2px solid #777;
    }
    .main {
        padding: 0.75em 0.5em; 
    }
</style>

...

<div class="pure-g">

    <div class="pure-u-1-2 sidebar"> ... </div>
    <div class="pure-u-1-2 main"> ... </div>

</div>
