<style>
    .sidebar {
        padding: 0.5em; 
        border-right: 2px solid #777;
    }
    .main {
        padding: 0.75em 0.5em; 
    }
</style>

...

<div class="pure-g">

    <div class="pure-u-1-2">
        <div class="sidebar"> ... </div>
    </div>

    <div class="pure-u-1-2">
        <div class="main"> ... </div>
    </div>

</div>
