<style>
    .l-box {
        padding: 1em;
    }
</style>

...

<div class="pure-g">

    <div class="pure-u-1-2">
        <div class="l-box"> ... </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box"> ... </div>
    </div>

</div>
