<style>

    .k-button-success,
    .k-button-error,
    .k-button-warning,
    .k-button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .k-button-success {
        background: rgb(76, 201, 71); /* this is a green */
    }

    .k-button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .k-button-warning {
        background: orange;
    }

    .k-button-secondary {
        background: rgb(95, 198, 218); /* this is a light blue */
    }

</style>

<a class="k-button k-button-success">Success Button</a>
<a class="k-button k-button-error">Error Button</a>
<a class="k-button k-button-warning">Warning Button</a>
<a class="k-button k-button-secondary">Secondary Button</a>


