
<button class="pure-button" href="#0">
    <i class="icon-cog icon-spin"></i>
    Settings
</button>

<a class="pure-button" href="#0">
    <i class="icon-shopping-cart icon-large"></i>
    Checkout
</a>
