<style>

    .pure-button-xsmall {
        font-size: 70%;
    }

    .pure-button-small {
        font-size: 85%;
    }

    .pure-button-large {
        font-size: 110%;
    }

    .pure-button-xlarge {
        font-size: 125%;
    }

</style>

<a class="pure-button pure-button-xsmall">Extra Small Button</a>
<a class="pure-button pure-button-small">Small Button</a>
<a class="pure-button">Regular Button</a>
<a class="pure-button pure-button-large">Large Button</a>
<a class="pure-button pure-button-xlarge">Extra Large Button</a>


