<style>

    .k-button-xsmall {
        font-size: 70%;
    }

    .k-button-small {
        font-size: 85%;
    }

    .k-button-large {
        font-size: 110%;
    }

    .k-button-xlarge {
        font-size: 125%;
    }

</style>

<a class="k-button k-button-xsmall">Extra Small Button</a>
<a class="k-button k-button-small">Small Button</a>
<a class="k-button">Regular Button</a>
<a class="k-button k-button-large">Large Button</a>
<a class="k-button k-button-xlarge">Extra Large Button</a>


